In [1]:
import pandas as pd
from sklearn.utils import shuffle
import numpy as np

In [2]:
# Get original data
df = pd.read_csv('data/diabetes_prediction_dataset.csv')
df = df.dropna(how='any')
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [3]:
# Transform categorical columns to numerical columns with one-hot-encoding
gender_one_hot = pd.get_dummies(df['gender'])
smoking_one_hot = pd.get_dummies(df['smoking_history'])
gender_one_hot = gender_one_hot.apply(lambda x: x.apply(int))
smoking_one_hot = smoking_one_hot.apply(lambda x: x.apply(int))

df = pd.merge(left=df, right=gender_one_hot, left_index=True, right_index=True)
df = pd.merge(left=df, right=smoking_one_hot, left_index=True, right_index=True)
df = df.drop(columns=['gender', 'smoking_history'])
df.head()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,Female,Male,Other,No Info,current,ever,former,never,not current
0,80.0,0,1,25.19,6.6,140,0,1,0,0,0,0,0,0,1,0
1,54.0,0,0,27.32,6.6,80,0,1,0,0,1,0,0,0,0,0
2,28.0,0,0,27.32,5.7,158,0,0,1,0,0,0,0,0,1,0
3,36.0,0,0,23.45,5.0,155,0,1,0,0,0,1,0,0,0,0
4,76.0,1,1,20.14,4.8,155,0,0,1,0,0,1,0,0,0,0

In [4]:
# Shuffle the data and save it to a new csv file
np.random.seed(38)
df = shuffle(df)
df = df.reset_index(drop=True)
df.head()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,Female,Male,Other,No Info,current,ever,former,never,not current
0,30.0,0,0,27.32,3.5,130,0,1,0,0,0,0,0,0,1,0
1,66.0,0,0,33.94,5.8,159,0,1,0,0,0,0,0,0,0,1
2,64.0,0,0,27.32,6.6,145,0,1,0,0,0,0,0,0,1,0
3,24.0,0,0,20.07,4.0,140,0,0,1,0,1,0,0,0,0,0
4,53.0,0,0,37.16,9.0,145,1,1,0,0,0,0,0,1,0,0

In [5]:
# Save the data to a separate csv file
df.to_csv('data/preprocessed_data.csv')